:root{
    --fundo:#2f5ae7;
    --cartao-frente:#9092ee;
    --cartao-verso:#2200ff;
    --destaque:#a1a2ac;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}

