:root{
    --fundo:#8da7ff;
    --cartao-frente:#9092ee;
    --cartao-verso:#2200ff;
    --destaque:#a1a2ac;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
}
